h1
{
    color: red;
}

h2
{
    color:blue;
}

body {
    text-align: center;
	margin: 10;
	font-family: Verdana, Arial, sans-serif;
	font-size: 40px;
        
}


div {
  width: 660px;
  background-color:#1bcf42;
  height: 300px;
  background-image: url(https://html5book.ru/images/flower112.png), url(https://html5book.ru/images/leaf112.png), url(https://html5book.ru/images/flower221.png);
  background-repeat: repeat-x;
  background-position: 0 250px, 0 150px, 0 98px;
}

p {
  font-size: 50%;
}

background-color {
    background-color: #ac9828;
}


text-color { 
    color: red;
}

#p01 { 
    color: blue; 
}

div.test th,
div.test td,
div.test caption {
    padding: 40px 100px 40px 50px;
}